<div class="mark-item">
    <div class="mark-icon">
        <span>📍</span>
    </div>
    <div class="mark-content">
        <h3 class="mark-title">{{ mark.title }}</h3>
        <div class="mark-meta">
            <span class="mark-category">{{ mark.category }}</span>
            <span class="mark-distance">{{ mark.distance }} м</span>
            <span class="mark-rating">
                <span class="star">★</span>
                {{ mark.rating }}
            </span>
        </div>
    </div>
</div>
